[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pylint = "*"
autopep8 = "*"

[packages]
ipython = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
SQLAlchemy = "*"
pylint = "*"
pyyaml = "*"
zeep = "*"
beautifulsoup4 = "*"
lxml = "*"
xmljson = "*"
bs4 = "*"
arrow = "*"
xmltodict = "*"
pymongo = "*"

[requires]
python_version = "3.7"
