<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--  Set optional default parameters here  -->
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="TemplateName" value="" />
    <add key="TemplateType" value="" />
    <add key="Query" value="" />
    <add key="LastUpdateDate" value="" />
    <add key="Datatype" value="" />
    <add key="FileType" value="" />
    <add key="Url" value="" />
    <add key="SpatialFormat" value="" />
    <add key="SpatialExtent" value="" />
    <add key="SpatialTileSize" value="" />
    <add key="WorkingDirectory" value="" />
    <!-- in order to add multiple layers use:  -->
    <add key="SpatialExports" value="" />
    <add key="Domain" value="" />
    <add key="MaxRetryTime" value="1800" />
    <!--
    <add key="SpatialExports" value="" /> -->

    <!--  URLs -->
    <!--  Local   http://localhost:8080/WebServices/  -->
    <!--  DEV     http://v-vwc1denrapp01.dev.ihs.com:8180//WebServices/ -->
    <!--  QA      http://vwc-1tedqap02.ihsglobal.local:8180/WebServices/ -->
    <!--  STAGE   https://swebservices.ihsenergy.com/WebServices/ -->
    <!--  PROD    https://webservices.ihsenergy.com/WebServices/  -->
    
  
    
    <!--  Max number of records per export file. Larger exports will be split into multiple files.  -->
    <add key="ChunkSize" value="1500" />
    <!--  Best performance < 2000 -->
    
    <add key="AppName" value="EnerdeqExportFromQuery" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>